<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap/js/jquery-3.6.0.js"></script>
		<title>{% block title%} {% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand"">OTA Web</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/home">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="/show-data">Datos</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		  </nav>
		{% block content %} {% endblock %}
		<footer>
			<hr/>
			<p class="text-center">OTA Web App</p>
		</footer>
	</body>
</html>