{% extends 'base.html'%} {% block title %} Register {% endblock %} {% block content %}
<div class="container col-md-3 col-md-offset-3 mt-5 mb-5 px-10">
	<div class="row">
        <h2 class="text-center">Registrar Usuario</h2><br>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="user">Usuario</label>
                <input name="user" class="form-control" id="user" placeholder="Ingrese usuario" required>
                <label for="password1">Contraseña</label>
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Ingrese contraseña" required>
                <label for="password2">Repita Contraseña</label>
                <input type="password" name="password2" class="form-control" id="password2" placeholder="ingrese contraseña nuevamente" required><br>
                <button type="submit" class="btn btn-secondary">Registrar</button>
            </div>
        </form>
        {% if message  %}
            <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
	</div>
</div>
{% endblock %}